.about-body img{
    width: 125%;
    height: auto;
    margin-left: 0px;
    border-radius: 53% 47% 36% 64% / 37% 37% 63% 63%;
  }
  .container-fluid{
    margin: 20px 30px;
    width: auto;
  }
  .about-body{
    margin: 10px;
    margin-left: 175px;
    margin-right: 150px;
  }
  .about-body .square{
    width: 370px;
    height: 350px;
    padding: 0px;
  }
  .about-body a{
    padding-bottom: 1%;
    background-image: linear-gradient(110deg, #e1f549, #29d0be, #6cb8ea, #ff5959);
    background-repeat: no-repeat;
    background-size: 100% .2em;
    background-position: 0 88%;
    color: black;
    transition: background-size 0.25s ease-in;

  }
  .about-body a:hover{
    background-size: 110% 88%;
    text-decoration: none;
  }
  .about-body .square span:nth-child(1){
    width: 85%;
    height: 85%;
    left: 20%;
   background-color:rgb(0, 150, 240);
   mix-blend-mode: multiply;

 }
  .about-body .square span:nth-child(2){
    width: 90%;
    height: 90%;
     left: 20%;
    background-color: rgb(240, 240, 0);
    border: none;
    mix-blend-mode: multiply;
  }
  .about-body .square span:nth-child(3){
    width: 90%;
    height: 90%;
    left: 20%;
   background-color:rgb(240, 0, 240);
   border: none;
   mix-blend-mode: multiply;
 }
 .about-body p{
   margin-bottom: 20px;
 }

 @media (max-width: 900px) {
    .about-body{
      margin-left: 0px;
    }
     .row{
         flex-direction: column;
     }
     .about-body{
         margin-right: 0px;
     }
     .about-body .square{
         margin-left: 0px;
     }
     .content{
         margin-left: 0px;
     }
 }
