html{
  overflow: hidden;
}
body{
  margin: 0px;
}
h2, h5, h4{
  margin: 0px 0px;
}
h2{
  font-size: 47px;
}
h4{
  font-size: 20px;
}
h4, p{
  margin: 10px 5px;
}

a{
  color: black;
  text-decoration: none;
}
.row{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}
.img-fluid{
  width: 100%;
  height: auto;
}
.col-1{
  display: flex;
  flex-direction: column;
  width: 10%;
  align-self: flex-end;
}
.col-5, .col-10{
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  padding: 10px 25px;
  overflow: hidden;
}
.col-5{
  width:35%;
}
.col-10{
  width:50%;
  margin: auto;
  /* margin-left: -10px; */
}
.container-fluid{
  margin: 20px 30px;
  width: auto;
 }
 

.arrow{
  height: 15px;
  width: 30px;
  float: right;
  align-self: center;
  cursor: pointer;
}
.article_cover, .article_page{
  height: 85vh;
  margin: 0px auto;
  padding: 20px 0px;
  /* display: inline-block; */
}
/* .article_page{
  padding: 0px 0px;
} */
.article_imgs{
  width: 60%;
}
.details{
  margin-bottom: 30px;
}

#can{
  border: 2px solid black;
  position: absolute;
  margin: 3% 12%;
  /* width: 75%;
  height: 80%; */
}

.hidden{
  display: none;
}
@media screen and (max-width: 600px){
  html{
    overflow-y: scroll;
  }
  .col-1{
    width:100%;
  }
  .col-5{
    width:100%;
  }
  .row{
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 600px){
  html{
    overflow-y: scroll;
  }
}