/* #incubates-img-1{
  clip-path: url(#blob1);
  width: 100%;
   animation: 1s blob1 ease-in-out; 
   animation-duration: 1s;
  animation-name: blob1;
  animation-timing-function: ease-in-out; 
} */

#incubates-blob-img {
  width: 30%;
  margin: 10vh auto;
}

#incubates-blob-img img {
  height: 50vh;
}

img#incubates-img {
  filter: grayscale(1);
  transition: all .8s ease;
}
img#incubates-img:hover {
  filter: none;
}

#incubates-header{
  text-align: center;
  margin: 1em auto;
}

h2{
  font-size:28px;
}
h5{
  font-size:16px;
}

.centerblob{
  display: block;
  margin: auto;
  width:100%;
}

#blob1{
  animation: 5s blobrotate cubic-bezier(0.51, 0.49, 0.5, 0.6) infinite;
  transform-origin: 50% 50%;
  
}

#incubates-nav-container{
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.small-blob{
  display: inline-block;
  margin:0.5em;
  width: 14px;
}

.single-nav-container {
  display: inline-block;
}

.hoverblob {
  position: absolute;
  bottom: 25px;
  transform: translateX(-41%);
  animation: 0.5s navhover ease-in-out;
} 
.absolute-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  color: white;
  text-align: center;
}
.absolute {
  position: absolute;
}

.hoverblob-text {
  color: white;
  position: absolute;
  text-align: center;
  bottom: 100%;
  margin: 0 auto;
  width: 100px;
  transform: translate(-38%, -50px);
}

#emptystate {
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  margin: 0;
}

#full-content {
  display: none;
  justify-content: center;
  margin: 3em auto;
  width: 100%;
}

#innerwrapper {
  display: flex;
  width: 60%;
}
/* #incubates-img-full {
  width: 50%;
} */
#incubates-img-full img {
  height: 50vh;
}

.incubates-text {
  margin: 0 0 1em 4em;
  height: 50vh;
  overflow: auto;
  padding-right: 1em;
}

a.button h4 {
  font-size: 16px;
  margin: 0;
  color: black;
}

a.button:hover {
  text-decoration: none;
}

.button {
  border: 1px solid black;
  padding: 12px 20px;
  float: right;
  border-radius: 8px;
}
/* .incubates-description {
  width: 50%;
} */


@keyframes navhover{
  from {
   opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blobrotate{
  25% {
    transform: rotate(90deg) scale(1)translate(-4px, -5px);
  }
  50% {
    transform: rotate(180deg) scale(1.05) translate(4px, 6px);
  }
  75% {
    transform: rotate(270deg) scale(1) translate(-2px, 3px);
  }
  100% {
    transform: rotate(360deg) scale(1) translate(0, 0);
  }
  
}