#incubates-img-1{
  clip-path: url(#blob1);
  width: 100%;
  /* animation: 1s blob1 ease-in-out; */
  /* animation-duration: 1s;
  animation-name: blob1;
  animation-timing-function: ease-in-out; */
}

.incubates-blob-img{
  width: 30%;
  margin: 2em auto;
}

.incubates-header{
  text-align: center;
  margin: 1em auto;
}

h2{
  font-size:28px;
}
h5{
  font-size:12px;
}

.centerblob{
  display: block;
  margin: auto;
  width:100%;
}

#blob1{
  animation: 5s blobrotate cubic-bezier(0.51, 0.49, 0.5, 0.6) infinite;
  transform-origin: 50% 50%;
  
}

#incubates-nav-container{
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.small-blob{
  display: inline-block;
  margin:0.5em;
}

.single-nav-container {
  display: inline-block;
}
.single-nav-container:hover :after{
  content: url(/images/incubates/hover-blob.png);
  position: absolute;
  bottom: 28px;
  transform: translateX(-60%);
  animation: 0.5s navhover ease-in-out;
}

#full-content {
  display: none;
  align-items: start;
  margin: 1em auto;
  width: 75%;
}

#full-content img {
  height:200px;
}


.incubates-text {
  margin: 2em;  height: 200px;
  overflow: auto;
}

a.button h4 {
  font-size: 18px;
  margin: 0;
  color: black;
}

a.button:hover {
  text-decoration: none;
}

.button {
  border: 1px solid black;
  padding: 1em 2em;
  float: right;
  border-radius: 1em;
}

@keyframes navhover{
  0% {
   opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blobrotate{
  25% {
    transform: rotate(90deg) scale(1)translate(-4px, -5px);
  }
  50% {
    transform: rotate(180deg) scale(1.05) translate(4px, 6px);
  }
  75% {
    transform: rotate(270deg) scale(1) translate(-2px, 3px);
  }
  100% {
    transform: rotate(360deg) scale(1) translate(0, 0);
  }
  
}